# Web server
flask==3.0.2
flask-cors==4.0.0

# Core ML + Computer Vision
opencv-python-headless==4.8.1.78
numpy==1.23.5

# Deep Learning
tensorflow-cpu==2.10.0
deepface==0.0.93
mtcnn==0.1.1

# YOLOv8
ultralytics==8.0.220

# Utils
Pillow==10.2.0
tf-keras==2.10.0
